$white: #fff;
$green: #10c455;
$green-dark: #08622a;
$teal: #097970;
$blue: #041949;
$orange: #e3812b;
$red: #d63a47;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Glory", sans-serif;
  svg:active {
    -webkit-tap-highlight-color: transparent;
    color: $green;
  }
}

.App {
  .container {
    padding: 16px;
  }

  header {
    background: $blue;
    background: linear-gradient(90deg, $blue 0%, $teal 51%, $green 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    h1 {
      color: $white;
    }
  }

  .password-panel {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    .MuiPaper-root {
      padding: 16px;
    }
    &__title {
      font-size: 20px;
    }
  }

  .add-btn {
    background-color: $green;
    color: $white;
    position: fixed;
    width: 64px;
    height: 64px;
    bottom: 26px;
    right: 26px;
    &:hover {
      background-color: $green-dark;
    }
    &:active {
      -webkit-tap-highlight-color: transparent;
      color: $green;
    }
  }
  .add-icon {
    width: 36px;
    height: 36px;
  }
  .panel-content {
    display: flex;
    justify-content: space-between;
    svg {
      color: $red;
    }
  }
  .loader {
    color: $blue;
    width: 66px !important;
    height: 66px !important;
  }
}

#edit-btn {
  background-color: $blue;
  color: $white;
}
#submit-btn {
  background-color: $green;
  color: $white;
}
