$white: #fff;
$green: #10c455;
$green-light: #35f57f;
$teal: #097970;
$blue: #041949;
$blue-light: #244dad;
$orange: #e3812b;
$red: #d63a47;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Glory", sans-serif;
}

.App {
  .container {
    padding: 16px 16px 88px;
  }

  header {
    background: $blue;
    background: linear-gradient(90deg, $blue 0%, $teal 51%, $green 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    h1 {
      color: $white;
    }
  }

  .password-panel {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    .MuiPaper-root {
      padding: 16px;
    }
    &__title {
      font-size: 20px;
    }
  }

  .icon-btn {
    &__btn {
      &--add {
        background-color: $green;
        color: $white;
        position: fixed;
        bottom: 22px;
        right: 22px;
        width: 64px;
        height: 64px;

        &:hover {
          background-color: $green;
        }
        &:active {
          -webkit-tap-highlight-color: transparent;
          color: $green;
        }
      }

      &--scroll {
        background-color: $blue;
        color: $white;
        position: fixed;
        bottom: -90px;
        left: 22px;
        width: 64px;
        height: 64px;
        transition: all 0.4s ease-in;

        &.visible-scroll {
          bottom: 22px;
          transition: all 0.4s ease-in;
        }

        &:hover {
          background-color: $blue;
        }
        &:active {
          -webkit-tap-highlight-color: transparent;
          color: $blue;
        }
      }
    }
    &__icon {
      width: 36px;
      height: 36px;
    }
  }

  .panel-content {
    display: flex;
    justify-content: space-between;
    svg {
      color: $red;
    }
  }
  .loader {
    color: $blue;
    width: 66px !important;
    height: 66px !important;
  }
  .goTopHidden {
    display: none;
  }
  .goTop {
    display: block;

    &__text {
      position: fixed;
      background-color: white;
      box-shadow: 2px 2px 5px black;
      width: 30px;
      height: 30px;
      border-radius: 25px;
      bottom: 5%;
      left: 50%;
      cursor: pointer;
      text-align: center;
      line-height: 30px;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.copy-icon {
  &:active {
    -webkit-tap-highlight-color: transparent;
    color: $green;
  }
}

#edit-btn {
  background-color: $blue;
  color: $white;
}
#submit-btn {
  background-color: $green;
  color: $white;
}
